{% extends 'base.html.twig' %}

{% block title %}Fréquentation et chiffre d'affaire{% endblock %}

{% block body %}
{% if is_granted('ROLE_DS') %}
<h2 class="text-center mt-5 mb-5 text-danger"></h2>
<div class="w-75 mx-auto">
    <table class="table table-bordered mb-5 mt-5">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">Année</th>
                <th scope="col">Mois</th>
                <th scope="col">Activité</th>
                <th scope="col">Chiffre d'Affaire</th>
                <th scope="col">Fréquentation</th>
                <th scope="col">Panier Moyen</th>
                <th scope="col">edit</th>
                <th scope="col">supprimer</th>
            </tr>
        </thead>
        <tbody>
          {% if rig is not empty %}
            {% for rigs in rig %}
                <tr class="bg-light">
                    <td> {{rigs.annee}}</td>
                </tr>
                <tr class="bg-light">
                    <td> {{rigs.mois}}</td>
                    <td> {{rigs.activite}}</td>
                    <td> {{rigs.chiffreAffaire}}</td>
                    <td> {{rigs.frequentation}}</td>
                    <td> {{rigs.panierMoyen}}</td>
                    <td> <a href="{{ path('editRig', {id: rigs.id})}}" class="card-link btn btn-danger text-white my-5">Modifier</a></td>
                    <td> <a href="{{ path('deleteRig', {id: rigs.id})}}" class="card-link btn btn-danger text-white my-5" onclick="return confirm('Attention ! Ceci va supprimer définitivement votre fiche. Cliquez sur ok pour valider')">Supprimer</a></td>
                </tr>
            {% endfor %}
            {% else %}
            <h2 class="text-danger text-center mt-5 mb-5">Veuillez rajouter un Rig</h2>
        {% endif %}
        </tbody>
    </table>
{% endif %}

{% if is_granted('ROLE_DR') %}
{% endif %}
{% if is_granted('ROLE_DG') %}
{% endif %}
{% endblock %}