{% extends 'base.html.twig' %}

{% block title %}Présensation des ou du site{% endblock %}

      {% block stylesheets %}
             <link rel="stylesheet" href="{{ asset('css/main.css') }}">
             {% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}
<div class="container">
    <div class="col-3">
        <p>Filter</p>
        <form id="filters">
            {% for site in sites %}
                <p><input type="checkbox" name="sites[]" id="sites{{site.id}}" value="{{site.id}}"> <label for="sites{{site.id}}">{{site.nomDuSite}}</p>
            {% endfor %}
        </form>
    </div>
</div>

<h2 class="text-center mt-5 mb-5 text-danger" >Liste des sites</h2>
<div class="w-75 mx-auto">
    <table class="table table-bordered mb-5 mt-5">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">Nom du complexe</th>
                <th scope="col">Ville</th>
                <th scope="col">Type de contrat</th>
                <th scope="col">Type de société</th>
                <th scope="col">Raison sociale</th>
                <th scope="col">Adresse 1</th>
                <th scope="col">Adresse 2</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Date de premier contrat</th>
                <th scope="col">Ctrl Accès</th>
                <th scope="col">Détail du site</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% if sites is not empty %}
            {% for site in sites %}
                <tr class="bg-light">
                    <td> {{site.nomDuSite}}</td>
                    <td> {{site.ville}}</td>
                    <td> {{site.typeContrat}}</td>
                    <td> {{site.typeSociete}}</td>
                    <td> {{site.raisonSociale}}</td>
                    <td> {{site.adresse1}}</td>
                    <td> {{site.adresse2}}</td>
                    <td> {{site.codePostal}}</td>
                    <td> {{site.dateDebut | date('d/m/Y')}}</td>
                    <td> {{site.dateFin | date('d/m/Y')}}</td>
                    <td> {{site.datePremierContrat | date('d/m/Y')}}</td>
                    <td> {{site.ctrlAcces}}</td>
                    <td> <a href="{{ path('singleSite', {id: site.id})}}">Détails</a></td>
                    <td> <a href="{{ path('editSites', {id: site.id}) }}" class="card-link btn btn-danger text-white my-5">Modifier</a></td>
                    <td> <a href="{{ path('deleteSites', {id: site.id}) }}" class="card-link btn btn-danger text-white my-5">Supprimer</a></td>
                </tr>
            {% endfor %}
            {% else %}
            <h2 class="text-danger text-center mt-5 mb-5">Veuillez rajouter un site</h2>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="text-center text-white mb-4 mt-2">
 <a href="{{ path('nouveauSite')}}"><i class="btnadd fas fa-plus-circle color-danger"></i><br/></i></a>
</div>
</div>
{% endif %}

{% if is_granted('ROLE_DR') %}
<div class="container">
    <div class="col-3">
        <p>Filter</p>
        <form id="filters">
            {% for site in sites %}
                <p><input type="checkbox" name="sites[]" id="sites{{site.id}}" value="{{site.id}}"> <label for="sites{{site.id}}">{{site.nomDuSite}}</p>
            {% endfor %}
        </form>
    </div>
</div>

<h2 class="text-center mt-5 mb-5 text-danger">Liste des sites</h2>
<div class="w-75 mx-auto">
    <table class="table table-bordered mb-5 mt-5">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">Nom du complexe</th>
                <th scope="col">Ville</th>
                <th scope="col">Type de contrat</th>
                <th scope="col">Type de société</th>
                <th scope="col">Raison sociale</th>
                <th scope="col">Adresse 1</th>
                <th scope="col">Adresse 2</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Date de premier contrat</th>
                <th scope="col">Ctrl Accès</th>
                <th scope="col">Détail du site</th>
                <th scope="col">Modifier le site</th>
                <th scope="col">Supprimer le site</th>
            </tr>
        </thead>
        <tbody>
        {% if sites is not empty %}
            {% for site in sites %}
                <tr class="bg-light">
                    <td> {{site.nomDuSite}}</td>
                    <td> {{site.ville}}</td>
                    <td> {{site.typeContrat}}</td>
                    <td> {{site.typeSociete}}</td>
                    <td> {{site.raisonSociale}}</td>
                    <td> {{site.adresse1}}</td>
                    <td> {{site.adresse2}}</td>
                    <td> {{site.codePostal}}</td>
                    <td> {{site.dateDebut | date('d/m/Y')}}</td>
                    <td> {{site.dateFin | date('d/m/Y')}}</td>
                    <td> {{site.datePremierContrat | date('d/m/Y')}}</td>
                    <td> {{site.ctrlAcces}}</td>
                    <td> <a href="{{ path('singleSite', {id: site.id})}}">Détails</a></td>
                    <td> <a href="{{ path('editSites', {id: site.id})}}" class="card-link btn btn-danger text-white my-5">Modifier</a></td>
                    <td> <a href="{{ path('deleteSites', {id: site.id})}}" class="card-link btn btn-danger text-white my-5" onclick="return confirm('Attention ! Ceci va supprimer définitivement votre fiche. Cliquez sur ok pour valider')">Supprimer</a></td>
                </tr>
            {% endfor %}
            {% else %}
            <h2 class="text-danger text-center mt-5 mb-5">Veuillez rajouter un site</h2>
        {% endif %}
        </tbody>
    </table>
</div>
<div class="text-center text-white mb-4 mt-2">
 <a class="footer" href="{{ path('nouveauSite')}}"><i class="btnadd fas fa-plus-circle color-danger"></i><br/></i></a>
</div>
{% endif %}

{% if is_granted('ROLE_DS') %}
<div class="w-50 mx-auto border border-dark mt-5 mb-5 bg-light border border-danger p-5 pb-5">
<p class="text-center">Nom du site :</p><p class="text-danger text-center">{{sitesDS.nomDuSite}}</p>
<p class="text-center">Ville :</p><p class="text-danger text-center">{{sitesDS.ville}}</p>
<p class="text-center">Type de contrat :</p><p class="text-danger text-center"> {{sitesDS.typeContrat}}</p>
<p class="text-center">Type de société :</p><p class="text-danger text-center"> {{sitesDS.typeSociete}}</p>
<p class="text-center">Raison sociale :</p><p class="text-danger text-center"> {{sitesDS.raisonSociale}}</p>
<p class="text-center">Adresse :</p><p class="text-danger text-center"> {{sitesDS.adresse1}}</p>
<p class="text-center">Code postal :</p><p class="text-danger text-center"> {{sitesDS.codePostal}}</p>
<p class="text-center">Date de début :</p><p class="text-danger text-center"> {{sitesDS.dateDebut | date('d/m/Y')}}</p>
<p class="text-center">Date de fin :</p><p class="text-danger text-center"> {{sitesDS.dateFin | date('d/m/Y')}}</p>
<p class="text-center">Date de premier contrat :</p> <p class="text-danger text-center">{{sitesDS.datePremierContrat | date('d/m/Y')}}</p>
<p class="text-center">Accès :</p><p class="text-danger text-center"> {{sitesDS.ctrlAcces}}</p>
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/main.js')}}"></script>
{% endblock %}
