{% extends 'base.html.twig' %}

{% block title %}ROLE = DG{% endblock %}

{% block body %}
{% if is_granted('ROLE_DS') %}
<h2 class="text-center mt-5 mb-5 text-danger"></h2>
<div class="w-75 mx-auto">
    <table class="table table-bordered mb-5 mt-5">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">Trimestre</th>
                <th scope="col">Type d'opération</th>
                <th scope="col">Cible</th>
                <th scope="col">Objectif</th>
                <th scope="col">Offre</th>
                <th scope="col">Coût de communication interne</th>
                <th scope="col">Coût de communication externe</th>
                <th scope="col">Frais d'organisation</th>
                <th scope="col">Participation partenaires</th>
                <th scope="col">Coût total</th>
                <th scope="col">Pass</th>
                <th scope="col">Chiffre d'Affaire</th>
                <th scope="col">ROI</th>
                <th scope="col">detail</th>
                <th scope="col">edit</th>
                <th scope="col">supprimer</th>
            </tr>
        </thead>
        <tbody>
          {% if planCom is not empty %}
            {% for plancoms in planCom %}
                <tr class="bg-light">
                    <td> {{plancoms.annee}}</td>
                </tr>
                <tr class="bg-light">
                    <td><p>trimestre</p></td>
                    <td> {{plancoms.typeOperation}}</td>
                    <td> {{plancoms.cible}}</td>
                    <td> {{plancoms.objectif}}</td>
                    <td> {{plancoms.offre}}</td>
                    <td> {{plancoms.coutComInterne}}</td>
                    <td> {{plancoms.coutComExterne}}</td>
                    <td> {{plancoms.fraisOrganisation}}</td>
                    <td> {{plancoms.participationPartenaire}}</td>
                    <td> {{plancoms.coutTotal}}</td>
                    <td> {{plancoms.pass}}</td>
                    <td> {{plancoms.chiffreAffaire}}</td>
                    <td> {{plancoms.roi}}</td>
                    <td><p>modal</p></td>
                    <td> <a href="{{ path('editPlanCom', {id: plancoms.id})}}" class="card-link btn btn-danger text-white my-5">Modifier</a></td>
                    <td> <a href="{{ path('deletePlanCommunication', {id: plancoms.id})}}" class="card-link btn btn-danger text-white my-5" onclick="return confirm('Attention ! Ceci va supprimer définitivement votre fiche. Cliquez sur ok pour valider')">Supprimer</a></td>
                </tr>
            {% endfor %}
            {% else %}
            <h2 class="text-danger text-center mt-5 mb-5">Veuillez rajouter un Plan de communication</h2>
        {% endif %}
        </tbody>
    </table>
{% endif %}

{% if is_granted('ROLE_DR') %}
{% endif %}
{% if is_granted('ROLE_DG') %}
{% endif %}
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}