{% extends 'base.html.twig' %}

{% block title %}Statisitiques Satisfaction{% endblock %}

{% block body %}
{% if is_granted('ROLE_DS') %}

<h2 class="text-center mb-2 mt-5 text-dark">Taux de satisfaction / Trimestre et année</h2>
<h3 class="text-center mt-4 mb-4 text-dark">{{ siteduDS.nomDuSite }}</h3>
<div class="row row-cols-1 row-cols-md-4 row-cols-mlg-4 g-4 mt-5 mb-5 mx-auto">
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartSatisGlobale" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartSatisProprete" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartCompetencePersonnel" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartSatisHoraire" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartSatisTemperature" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
</div>

{# Satisfaction globale #}
<script>
var ctx = document.getElementById('myChartSatisGlobale').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["T1", "T2", "T3", "T4"],
    datasets: [{
      type: 'bar',
      label: 'Satisfaction total / mois en % 2019',
      borderColor: 'rgb(30,144,255)',
      borderWidth: 2,
      fill: false,
      data: {{ rendusatisglobale2019 | raw }},
    }, {
      type: 'bar',
      label: 'Satisfaction total / mois en % 2020',
      backgroundColor: 'rgb(30,100,200)',
      stack: 'Stack 1',
      data: {{ rendusatisglobale2020 | raw }},
      borderColor: 'white',
      borderWidth: 2
    }, {
      type: 'bar',
      label: 'Satisfaction total / mois en % 2021',
      backgroundColor: 'rgb(10,14,30)',
      stack: 'Stack 0',
      data: {{ rendusatisglobale2021 | raw }},
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
    },
    tooltips: {
      mode: 'index',
      intersect: true
    },
    scales: {
      xAxes: [{
        stacked: true,
      }]
    }
  }
});
</script>

{# satisfaction propreté #}
<script>
var ctx = document.getElementById('myChartSatisProprete').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["T1", "T2", "T3", "T4"],
    datasets: [{
      type: 'bar',
      label: 'Satisfaction propreté / mois en % 2019',
      borderColor: 'rgb(30,144,255)',
      borderWidth: 2,
      fill: false,
      data: {{ rendusatisproprete2019 | raw }},
    }, {
      type: 'bar',
      label: 'Satisfaction propreté / mois en % 2020',
      backgroundColor: 'rgb(30,100,200)',
      stack: 'Stack 1',
      data: {{ rendusatisproprete2020 | raw }},
      borderColor: 'white',
      borderWidth: 2
    }, {
      type: 'bar',
      label: 'Satisfaction propreté / mois en % 2021',
      backgroundColor: 'rgb(10,14,30)',
      stack: 'Stack 0',
      data: {{ rendusatisproprete2021 | raw }},
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
    },
    tooltips: {
      mode: 'index',
      intersect: true
    },
    scales: {
      xAxes: [{
        stacked: true,
      }]
    }
  }
});
</script>

{# compétence du personnel #}
<script>
var ctx = document.getElementById('myChartCompetencePersonnel').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["T1", "T2", "T3", "T4"],
    datasets: [{
      type: 'bar',
      label: 'Compétence du personnel / mois en % 2019',
      borderColor: 'rgb(30,144,255)',
      borderWidth: 2,
      fill: false,
      data: {{ renducompetencepersonnel2019 | raw }},
    }, {
      type: 'bar',
      label: 'Compétence du personnel / mois en % 2020',
      backgroundColor: 'rgb(30,100,200)',
      stack: 'Stack 1',
      data: {{ renducompetencepersonnel2020 | raw }},
      borderColor: 'white',
      borderWidth: 2
    }, {
      type: 'bar',
      label: 'Compétence du personnel / mois en % 2021',
      backgroundColor: 'rgb(10,14,30)',
      stack: 'Stack 0',
      data: {{ renducompetencepersonnel2021 | raw }},
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
    },
    tooltips: {
      mode: 'index',
      intersect: true
    },
    scales: {
      xAxes: [{
        stacked: true,
      }]
    }
  }
});
</script>

{# satisfaction horaire #}
<script>
var ctx = document.getElementById('myChartSatisHoraire').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["T1", "T2", "T3", "T4"],
    datasets: [{
      type: 'bar',
      label: 'Satisfaction horaire / mois en % 2019',
      borderColor: 'rgb(30,144,255)',
      borderWidth: 2,
      fill: false,
      data: {{ rendusatishoraire2019 | raw }},
    }, {
      type: 'bar',
      label: 'Satisfaction horaire / mois en % 2020',
      backgroundColor: 'rgb(30,100,200)',
      stack: 'Stack 1',
      data: {{ rendusatishoraire2020 | raw }},
      borderColor: 'white',
      borderWidth: 2
    }, {
      type: 'bar',
      label: 'Satisfaction horaire / mois en % 2021',
      backgroundColor: 'rgb(10,14,30)',
      stack: 'Stack 0',
      data: {{ rendusatishoraire2021 | raw }},
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
    },
    tooltips: {
      mode: 'index',
      intersect: true
    },
    scales: {
      xAxes: [{
        stacked: true,
      }]
    }
  }
});
</script>

{# satisfaction temperature #}
<script>
var ctx = document.getElementById('myChartSatisTemperature').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["T1", "T2", "T3", "T4"],
    datasets: [{
      type: 'bar',
      label: 'Satisfaction température / mois en % 2019',
      borderColor: 'rgb(30,144,255)',
      borderWidth: 2,
      fill: true,
      data: {{ rendusatistemperature2019 | raw }},
    }, {
      type: 'bar',
      label: 'Satisfaction température / mois en % 2020',
      backgroundColor: 'rgb(10,200,153)',
      stack: 'Stack 0',
      data: {{ rendusatistemperature2020 | raw }},
      borderColor: 'white',
      borderWidth: 2
    }, {
      type: 'bar',
      label: 'Satisfaction température / mois en % 2021',
      backgroundColor: 'rgb(30,100,200)',
      stack: 'Stack 1',
      data: {{ rendusatistemperature2021 | raw }},
      borderColor: 'white',
      borderWidth: 2
    },
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
    },
    tooltips: {
      mode: 'index',
      intersect: true
    },
    scales: {
      xAxes: [{
        stacked: true,
      }]
    }
  }
});
</script>
{% endif %}



{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}