{% extends 'base.html.twig' %}

{% block title %}Statisitiques Satisfaction{% endblock %}

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
    
{% block body %}

{% if is_granted('ROLE_DS') %}
<h2 class="text-center mb-2 mt-5 text-dark">Taux de satisfaction / Trimestre et année</h2>
<h3 class="text-center mt-4 mb-4 text-dark">{{ siteduDS.nomDuSite }}</h3>
<div class="row row-cols-1 row-cols-md-4 row-cols-mlg-4 g-4 mt-5 mb-5 mx-auto">
      <div class="col">
          <div class="card">       
          <div class="card-body">
                <canvas id="myChartSatisGlobale" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartSatisProprete" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartCompetencePersonnel" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartSatisHoraire" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartSatisTemperature" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
</div>

{# Satisfaction globale #}
<script>
var ctx = document.getElementById('myChartSatisGlobale').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["T1", "T2", "T3", "T4"],
    datasets: [{
      type: 'bar',
      label: 'Satisfaction total / mois en % 2019',
      borderColor: 'rgb(30,144,255)',
      borderWidth: 2,
      fill: false,
      data: {{ rendusatisglobale2019 | raw }},
    }, {
      type: 'bar',
      label: 'Satisfaction total / mois en % 2020',
      backgroundColor: 'rgb(30,100,200)',
      stack: 'Stack 1',
      data: {{ rendusatisglobale2020 | raw }},
      borderColor: 'white',
      borderWidth: 2
    }, {
      type: 'bar',
      label: 'Satisfaction total / mois en % 2021',
      backgroundColor: 'rgb(10,14,30)',
      stack: 'Stack 0',
      data: {{ rendusatisglobale2021 | raw }},
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
    },
    tooltips: {
      mode: 'index',
      intersect: true
    },
    scales: {
      xAxes: [{
        stacked: true,
      }]
    }
  }
});
</script>

{# satisfaction propreté #}
<script>
var ctx = document.getElementById('myChartSatisProprete').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["T1", "T2", "T3", "T4"],
    datasets: [{
      type: 'bar',
      label: 'Satisfaction propreté / mois en % 2019',
      borderColor: 'rgb(30,144,255)',
      borderWidth: 2,
      fill: false,
      data: {{ rendusatisproprete2019 | raw }},
    }, {
      type: 'bar',
      label: 'Satisfaction propreté / mois en % 2020',
      backgroundColor: 'rgb(30,100,200)',
      stack: 'Stack 1',
      data: {{ rendusatisproprete2020 | raw }},
      borderColor: 'white',
      borderWidth: 2
    }, {
      type: 'bar',
      label: 'Satisfaction propreté / mois en % 2021',
      backgroundColor: 'rgb(10,14,30)',
      stack: 'Stack 0',
      data: {{ rendusatisproprete2021 | raw }},
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
    },
    tooltips: {
      mode: 'index',
      intersect: true
    },
    scales: {
      xAxes: [{
        stacked: true,
      }]
    }
  }
});
</script>

{# compétence du personnel #}
<script>
var ctx = document.getElementById('myChartCompetencePersonnel').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["T1", "T2", "T3", "T4"],
    datasets: [{
      type: 'bar',
      label: 'Compétence du personnel / mois en % 2019',
      borderColor: 'rgb(30,144,255)',
      borderWidth: 2,
      fill: false,
      data: {{ renducompetencepersonnel2019 | raw }},
    }, {
      type: 'bar',
      label: 'Compétence du personnel / mois en % 2020',
      backgroundColor: 'rgb(30,100,200)',
      stack: 'Stack 1',
      data: {{ renducompetencepersonnel2020 | raw }},
      borderColor: 'white',
      borderWidth: 2
    }, {
      type: 'bar',
      label: 'Compétence du personnel / mois en % 2021',
      backgroundColor: 'rgb(10,14,30)',
      stack: 'Stack 0',
      data: {{ renducompetencepersonnel2021 | raw }},
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
    },
    tooltips: {
      mode: 'index',
      intersect: true
    },
    scales: {
      xAxes: [{
        stacked: true,
      }]
    }
  }
});
</script>

{# satisfaction horaire #}
<script>
var ctx = document.getElementById('myChartSatisHoraire').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["T1", "T2", "T3", "T4"],
    datasets: [{
      type: 'bar',
      label: 'Satisfaction horaire / mois en % 2019',
      borderColor: 'rgb(30,144,255)',
      borderWidth: 2,
      fill: false,
      data: {{ rendusatishoraire2019 | raw }},
    }, {
      type: 'bar',
      label: 'Satisfaction horaire / mois en % 2020',
      backgroundColor: 'rgb(30,100,200)',
      stack: 'Stack 1',
      data: {{ rendusatishoraire2020 | raw }},
      borderColor: 'white',
      borderWidth: 2
    }, {
      type: 'bar',
      label: 'Satisfaction horaire / mois en % 2021',
      backgroundColor: 'rgb(10,14,30)',
      stack: 'Stack 0',
      data: {{ rendusatishoraire2021 | raw }},
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
    },
    tooltips: {
      mode: 'index',
      intersect: true
    },
    scales: {
      xAxes: [{
        stacked: true,
      }]
    }
  }
});
</script>

{# satisfaction temperature #}
<script>
var ctx = document.getElementById('myChartSatisTemperature').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["T1", "T2", "T3", "T4"],
    datasets: [{
      type: 'bar',
      label: 'Satisfaction horaire / mois en % 2019',
      borderColor: 'rgb(30,144,255)',
      borderWidth: 2,
      fill: false,
      data: {{ rendusatistemperature2019 | raw }},
    }, {
      type: 'bar',
      label: 'Satisfaction horaire / mois en % 2020',
      backgroundColor: 'rgb(30,100,200)',
      stack: 'Stack 1',
      data: {{ rendusatistemperature2020 | raw }},
      borderColor: 'white',
      borderWidth: 2
    }, {
      type: 'bar',
      label: 'Satisfaction horaire / mois en % 2021',
      backgroundColor: 'rgb(10,14,30)',
      stack: 'Stack 0',
      data: {{ rendusatistemperature2021 | raw }},
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
    },
    tooltips: {
      mode: 'index',
      intersect: true
    },
    scales: {
      xAxes: [{
        stacked: true,
      }]
    }
  }
});
</script>
{% endif %}

{% if is_granted('ROLE_DR') %}
{% endif %}

{% if is_granted('ROLE_DG') %}
<h1 class="pt-5 pb-4 mt-5 text-center"> Graphique Tous Sites</h1>
<div class="row row-cols-1 row-cols-md-4 row-cols-mlg-4 g-4 mt-5 mb-5 mx-auto">
    <div class="col" id="redimensionnable" style="resize: both; overflow: scroll;">
      <div class="card">  
          <div class="card-body">
            <canvas id="myChartglobaleDG" width="300" height="300"></canvas>
          </div>
      </div>
    </div>
    <div class="col" id="redimensionnable" style="resize: both; overflow: scroll;">
      <div class="card">
          <div class="card-body">
            <canvas id="myChartpropreteDG" width="300" height="300"></canvas>
          </div>
      </div>
    </div>
    <div class="col" id="redimensionnable" style="resize: both; overflow: scroll;">
        <div class="card">
              <div class="card-body">
                  <canvas id="compDG" width="300" height="300"></canvas>
              </div>
            </div>
        </div>
        <div class="col" id="redimensionnable" style="resize: both; overflow: scroll;">
            <div class="card">
              <div class="card-body">
                  <canvas id="myCharttemperatureDG" width="300" height="300"></canvas>
              </div>
            </div>
        </div>
        <div class="col" id="redimensionnable" style="resize: both; overflow: scroll;">
            <div class="card">
              <div class="card-body">
                  <canvas id="myCharthoraireDG" width="300" height="300"></canvas>
              </div>
            </div>
        </div>
  </div>

<hr class="w-75 mx-auto mt-4 mb-5">

<h1 class="pt-5 pb-4 mt-5 text-center"> Tableau Tous Sites</h1>
<table class="table table-bordered mb-5 mt-5 w-75 mx-auto">
      <thead class="bg-dark text-white">
        <tr>
          <th scope="col">Trimestre - Année</th>
          <th scope="col">Satisfaction globale (%)</th>
          <th scope="col">Satisfaction propreté (%)</th>
          <th scope="col">Compétence du personnel (%)</th>
          <th scope="col">Satisfaction température (%)</th>
          <th scope="col">Nombre de répondants</th>
          <th scope="col">Editer</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
    <tbody>
      {% if userDGS is not empty %}
      {% for userDG in userDGS %}
          <tr class="text-white bg-dark">
            <td> {{userDG.prenomNom}}</td>
          </tr>
          {% for sitesDG in sitesDGS %}
            {% if userDG.id == sitesDG.user.id %}
            <tr class="bg-light">
              <td> {{sitesDG.nomDuSite}}</td>
            </tr>
            {% for satisDG in satisDGS %}
              {% if sitesDG.id == satisDG.site.id %}
                <tr class="bg-light">
                  <td class="py-3">{{satisDG.trimestre}}</td>
                  <td>{{satisDG.satisGlobale}}</td>
                  <td>{{satisDG.satisProprete}}</td>
                  <td>{{satisDG.competenceDuPersonnel}}</td>
                  <td>{{satisDG.temperatureDouche}}</td>
                  <td>{{satisDG.repondant}}</td>
                  <td><a href="{{ path('editSatisfaction', {id: satisDG.id}) }}" class="card-link btn btn-danger text-white">Modifier</a></td>
                  <td><a href="{{ path('deleteSatisfaction', {id: satisDG.id}) }}" class="card-link btn btn-danger text-white" onclick="return confirm('Attention ! Ceci va supprimer définitivement votre fiche. Cliquez sur ok pour valider')">Supprimer</a></td>
                </tr>
              {% endif %}
      {% endfor %}
            {% endif %}
      {% endfor %}
      {% endfor %}
      {% else %}
          <h2 class="text-danger text-center mt-5 mb-5">Veuillez rajouter une SATISFACTION.</h2>
      {% endif %}
    </tbody> 
</table>

<script>
var ctx = document.getElementById('myChartglobaleDG').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestreDG | raw }},
        datasets: [{
            label: 'Satisfaction globale en %',
            data:  {{ globaleDG | raw }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

var ctx = document.getElementById('myChartpropreteDG').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestreDG1 | raw }},
        datasets: [{
            label: 'Satisfaction propreté en %',
            data:  {{ propreteDG | raw }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

var ctx = document.getElementById('compDG').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestreDG2 | raw }},
        datasets: [{
            label: 'Satisfaction compétence du personnel en %',
            data:  {{ compDG | raw }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

var ctx = document.getElementById('myCharttemperatureDG').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestreDG3 | raw }},
        datasets: [{
            label: 'Satisfaction température des douches en %',
            data:  {{ temperatureDG | raw }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

var ctx = document.getElementById('myCharthoraireDG').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestreDG4 | raw }},
        datasets: [{
            label: 'Satisfaction des horaires en %',
            data:  {{ horaireDG | raw }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endif %}
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}