{% extends 'base.html.twig' %}

{% block title %}Statistiques Satisfaction{% endblock %}

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
    
{% block body %}

{% if is_granted('ROLE_DS') %}
<h2 class="text-center mb-2 mt-5 text-dark">Taux de satisfaction / Trimestre et année</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-6 mt-5 mb-5 mx-auto ">
      <div class="col">
          <div class="card">       
          <div class="card-body">
                <canvas id="myChartSatisGlobaleDS" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartSatisPropreteDS" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartCompetencePersonnelDS" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartSatisHoraireDS" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <div class="card-body">
                <canvas id="myChartSatisTemperatureDS" width="10" height="10"></canvas>
            </div>
          </div>
      </div>
</div>

<hr class="w-75 mx-auto">

<div class="container mx-auto w-75">
    {% for site in siteDS %}
      <h3 class="text-center pt-3 pb-3">{{site.nomDuSite}}</h3>
    {% endfor %}
<table class="table table-bordered mb-5 mt-5 w-75 mx-auto">
      <thead class="bg-dark text-white">
        <tr>
          <th scope="col">Trimestre - Année</th>
          <th scope="col">Satisfaction globale (%)</th>
          <th scope="col">Satisfaction propreté (%)</th>
          <th scope="col">Compétence du personnel (%)</th>
          <th scope="col">Satisfaction température (%)</th>
          <th scope="col">Nombre de répondants</th>
          <th scope="col">Modifier</th>
          <th scope="col">éditer</th>
        </tr>
      </thead>
    <tbody>
      {% if satisDSS is not empty %}
      {% for satisDS in satisDSS %}
                <tr class="bg-light">
                  <td class="py-3">{{satisDS.trimestre}}</td>
                  <td>{{satisDS.satisGlobale}}</td>
                  <td>{{satisDS.satisProprete}}</td>
                  <td>{{satisDS.competenceDuPersonnel}}</td>
                  <td>{{satisDS.temperatureDouche}}</td>
                  <td>{{satisDS.repondant}}</td>
                  <td><a href="{{ path('editSatisfaction', {id: satisDS.id}) }}" class="card-link btn btn-danger text-white">Modifier</a></td>
                  <td><a href="{{ path('deleteSatisfaction', {id: satisDS.id}) }}" class="card-link btn btn-danger text-white" onclick="return confirm('Attention ! Ceci va supprimer définitivement votre fiche. Cliquez sur ok pour valider')">Supprimer</a></td>
                </tr>
      {% endfor %}
      {% else %}
          <h2 class="text-danger text-center mt-5 mb-5">Veuillez rajouter une SATISFACTION.</h2>
      {% endif %}
    </tbody> 
</table>
</div>

{# Satisfaction globale #}
<script>
var ctx = document.getElementById('myChartSatisGlobaleDS').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestreglobaleDS | raw }},
        datasets: [{
            label: 'Satisfaction Globale par % / Trimestre',
            data: {{ globaleDS | raw }},
            backgroundColor: [
                'rgba(0, 0, 255, 0.2)',
            ],
            borderColor: [
                'rgba(0, 0, 255, 0.2)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
 
{# satisfaction propreté #}
<script>
var ctx = document.getElementById('myChartSatisPropreteDS').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestrepropreteDS | raw }},
        datasets: [{
            label: 'Satisfaction Propreté par % / Trimestre',
            data: {{ propreteDS | raw }},
            backgroundColor: [
                'rgba(0, 0, 255, 0.2)',
            ],
            borderColor: [
                'rgba(0, 0, 255, 0.2)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

{# compétence du personnel #}
<script>
var ctx = document.getElementById('myChartCompetencePersonnelDS').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestrecompDS | raw }},
        datasets: [{
            label: 'Satisfaction Compétence du Personnel par % / Trimestre',
            data: {{ compDS | raw }},
            backgroundColor: [
                'rgba(0, 0, 255, 0.2)',
            ],
            borderColor: [
                'rgba(0, 0, 255, 0.2)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

{# satisfaction horaire #}
<script>
var ctx = document.getElementById('myChartSatisHoraireDS').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestrehoraireDS | raw }},
        datasets: [{
            label: 'Satisfaction Horaires par % / Trimestre',
            data: {{ horaireDS | raw }},
            backgroundColor: [
                'rgba(0, 0, 255, 0.2)',
            ],
            borderColor: [
                'rgba(0, 0, 255, 0.2)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

{# satisfaction temperature #}
<script>
var ctx = document.getElementById('myChartSatisTemperatureDS').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestretemperatureDS | raw }},
        datasets: [{
            label: 'Satisfaction Température par % / Trimestre',
            data: {{ temperatureDS | raw }},
            backgroundColor: [
                'rgba(0, 0, 255, 0.2)',
            ],
            borderColor: [
                'rgba(0, 0, 255, 0.2)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endif %}

{% if is_granted('ROLE_DR') %}
{% endif %}

{% if is_granted('ROLE_DG') %}
<h1 class="pt-5 pb-4 mt-5 text-center"> Graphique Tous Sites</h1>
<div class="row row-cols-1 row-cols-md-4 row-cols-mlg-4 g-4 mt-5 mb-5 mx-auto">
    <div class="col" id="redimensionnable" style="resize: both; overflow: scroll;">
      <div class="card">  
          <div class="card-body">
            <canvas id="myChartglobaleDG" width="300" height="300"></canvas>
          </div>
      </div>
    </div>
    <div class="col" id="redimensionnable" style="resize: both; overflow: scroll;">
      <div class="card">
          <div class="card-body">
            <canvas id="myChartpropreteDG" width="300" height="300"></canvas>
          </div>
      </div>
    </div>
    <div class="col" id="redimensionnable" style="resize: both; overflow: scroll;">
        <div class="card">
              <div class="card-body">
                  <canvas id="compDG" width="300" height="300"></canvas>
              </div>
            </div>
        </div>
        <div class="col" id="redimensionnable" style="resize: both; overflow: scroll;">
            <div class="card">
              <div class="card-body">
                  <canvas id="myCharttemperatureDG" width="300" height="300"></canvas>
              </div>
            </div>
        </div>
        <div class="col" id="redimensionnable" style="resize: both; overflow: scroll;">
            <div class="card">
              <div class="card-body">
                  <canvas id="myCharthoraireDG" width="300" height="300"></canvas>
              </div>
            </div>
        </div>
  </div>
</div>

<div class="w-25 mx-auto mb-5 pb-5 text-center">
  <div class="col">
    <div class="card p-4">
      <i class="fas fa-gift"></i>
      <div class="card-body">
        <h5 class="card-title">Ajouter Satis. Globale Tous Sites</h5>
        <p><a class="btn btn-danger text-white mt-3" href="{{ path('newTotalSatisfaction') }}">Ajouter</a></p>
      </div>
    </div>
  </div>
</div>

<hr class="w-75 mx-auto mt-4 mb-5">

<h1 class="pt-5 pb-4 mt-5 text-center"> Tableau Tous Sites</h1>
<table class="table table-bordered mb-5 mt-5 w-75 mx-auto">
      <thead class="bg-dark text-white">
        <tr>
          <th scope="col">Trimestre - Année</th>
          <th scope="col">Satisfaction globale (%)</th>
          <th scope="col">Satisfaction propreté (%)</th>
          <th scope="col">Compétence du personnel (%)</th>
          <th scope="col">Satisfaction température (%)</th>
          <th scope="col">Nombre de répondants</th>
          <th scope="col">Editer</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
    <tbody>
      {% if userDGS is not empty %}
      {% for userDG in userDGS %}
          <tr class="text-white bg-dark">
            <td> {{userDG.prenomNom}}</td>
          </tr>
          {% for sitesDG in sitesDGS %}
            {% if userDG.id == sitesDG.user.id %}
            <tr class="bg-light">
              <td> {{sitesDG.nomDuSite}}</td>
            </tr>
            {% for satisDG in satisDGS %}
              {% if sitesDG.id == satisDG.site.id %}
                <tr class="bg-light">
                  <td class="py-3">{{satisDG.trimestre}}</td>
                  <td>{{satisDG.satisGlobale}}</td>
                  <td>{{satisDG.satisProprete}}</td>
                  <td>{{satisDG.competenceDuPersonnel}}</td>
                  <td>{{satisDG.temperatureDouche}}</td>
                  <td>{{satisDG.repondant}}</td>
                  <td><a href="{{ path('editSatisfaction', {id: satisDG.id}) }}" class="card-link btn btn-danger text-white">Modifier</a></td>
                  <td><a href="{{ path('deleteSatisfaction', {id: satisDG.id}) }}" class="card-link btn btn-danger text-white" onclick="return confirm('Attention ! Ceci va supprimer définitivement votre fiche. Cliquez sur ok pour valider')">Supprimer</a></td>
                </tr>
              {% endif %}
      {% endfor %}
            {% endif %}
      {% endfor %}
      {% endfor %}
      {% else %}
          <h2 class="text-danger text-center mt-5 mb-5">Veuillez rajouter une SATISFACTION.</h2>
      {% endif %}
    </tbody> 
</table>

<script>
var ctx = document.getElementById('myChartglobaleDG').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestreDG | raw }},
        datasets: [{
            label: 'Satisfaction globale en %',
            data:  {{ globaleDG | raw }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
var ctx = document.getElementById('myChartpropreteDG').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestreDG1 | raw }},
        datasets: [{
            label: 'Satisfaction propreté en %',
            data:  {{ propreteDG | raw }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
var ctx = document.getElementById('compDG').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestreDG2 | raw }},
        datasets: [{
            label: 'Satisfaction compétence du personnel en %',
            data:  {{ compDG | raw }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
var ctx = document.getElementById('myCharttemperatureDG').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestreDG3 | raw }},
        datasets: [{
            label: 'Satisfaction température des douches en %',
            data:  {{ temperatureDG | raw }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
var ctx = document.getElementById('myCharthoraireDG').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ trimestreDG4 | raw }},
        datasets: [{
            label: 'Satisfaction des horaires en %',
            data:  {{ horaireDG | raw }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endif %}
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}