<footer>
<div class="text-center py-5 text-white bg-dark">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="footer text-white" href="{{ path('DGdashboard') }}"><i class="fas fa-house-user"><br/></i></a>
        <a class="footer text-white" href="{{ path('listeDesSites') }}"><i class="fas fa-swimming-pool ms-4"><br/></i></a>
        <a class="footer text-white" href="{{ path('pass') }}"><i class="far fa-id-card ms-4"><br/></i></a>
        <a class="footer text-white" href="{{ path('frequentation') }}"><i class="fas fa-chart-line ms-4"><br/></i></a>
        <a class="footer text-white " href="{{ path('pass') }}"><i class="fas fa-file-export ms-4"><br/></i></a>
    {% endif %} 

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <br/>
        <br/>
        <br/>
        <a class="footer text-white mt-3" href="{{ path('app_logout') }}"><i class="fas fa-times-circle"></i></a>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">S'enregistrer</a>
        </li>
    {% endif %} 
    <p class="mt-3 pt-4 pb-1">© Copyright - Julien Coart - fait avec Symfony</p>
</div>
</footer>