<footer>
<div class="text-center py-5 text-white bg-dark">
    <p>© Copyright - Julien Coart - 27/09/2021- fait avec Symfony</p>
    {#<a class="footer-logout" href="{{ path('app_logout') }}">Deconnexion</a>#}
    <a class="footer" href="{{ path('DGdashboard') }}">Dashboard</a>
    <a class="footer" href="{{ path('listeDesSites') }}">Sites</a>
    <a class="footer" href="{{ path('pass') }}">Pass</a>
    <a class="footer" href="{{ path('frequentation') }}">Fréquentation et Chiffre d'affaire</a>
    <a class="footer" href="{{ path('pass') }}">Exporter</a>
</div>
</footer>